<div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #041e4e">
        <div class="container-fluid">
            <a href="#" class="navbar-brand"><img src="../assets/logo.png" width="180px" height="100px"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
               
                  <a class="nav-item nav-link" routerLink="/user/login" style="font-size: 25px;margin:25px;">Login</a>
                  <a class="nav-item nav-link" routerLink="/user" style="font-size: 25px;margin:25px;">Register</a>
                  <a class="nav-item nav-link" routerLink="adminlogin" style="font-size: 25px;margin:25px;">Admin</a>
                </div>
                
            </div>
        </div>
      </nav>

    </div>
    